@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;

  --card: #0f172a;
  --card-border: #1e293b;

  --primary: #06b6d4;
  --success: #22c55e;
  --danger: #ef4444;
}

body {
  background: linear-gradient(
    to bottom,
    #020617,
    #0f172a
  );

  color: var(--foreground);

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}